.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropzone{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.coreNLP{
  width: 100%;
  height: 700px;
}

.homepage{
  width: calc(100% - 205px);
  height: 100vh;
  float: right;
}

.pro-menu-item{
  font-size: 25px !important;
}

.pro-inner-item:focus{
  color:orange !important;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.toolbox{
  border-style: solid;
  border-color: #773585;
  border-width: 4px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display:block;
  align-items: center;
  height: 200px;
}

.bow{
  border-style: solid;
  border-color: #773585;
  border-width: 4px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: block;
  height: 150px;
  
}

.bowView{
  border-style: solid;
  border-color: #773585;
  border-width: 4px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display:block;
  align-items: center;
  overflow: scroll;
  height: 500px;

}

.directions{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}

.or{
  text-align: center;
}

.text-input{
  width: 100%;
  height:90px;
}
.submit-button{
  text-align: center;
}
.learn{
  overflow: scroll;
}
.learning{
  margin: 10px;
  padding:2px;
  border-style: solid;
  border-color: #773585;
  border-width: 4px;
  border-radius: 5px;
  overflow: scroll;
}
.pro-sidebar{
  position: fixed;
}
.heading{
  font-size: 25px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 30px;
  
}
.aboutFeature{
  font-size: 18px;
  padding: 2px;
  margin-bottom: 30px;
  margin-right: 6px;
}